*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1em/160% sans-serif;
  margin: 0;
  background-color: #ddd;
}

svg {
  fill: currentColor;
  max-width: 100%;
  vertical-align: baseline;
}

.site-container {
  padding: 2em;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
