:root {
  --icon-body-bg-color: #2f3542;
  --icon-body-color: #747d8c;
  --icon-active-color: #2ed573;
  --icon-size: 48;
  --icon-bar-size: 8;
  --icon-translation-size: calc((var(--icon-size) - var(--icon-bar-size)) / 2);
  --icon-transition-duration: 300ms;
}

body {
  background-color: var(--icon-body-bg-color);
  color: var(--icon-body-color);
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon rect {
  transition: all var(--icon-transition-duration) ease-in-out;
}

.hamburger-icon:hover rect {
  fill: var(--icon-active-color);
}

.hamburger-icon:hover .top,
.hamburger-icon:hover .bottom {
  transform-origin: center;
}

.hamburger-icon:hover .top {
  transform: rotate(45deg)
    translate(0, calc(var(--icon-translation-size) * 1px));
}

.hamburger-icon:hover .bottom {
  transform: rotate(-45deg)
    translate(0, calc(var(--icon-translation-size) * -1px));
}

.hamburger-icon:hover .middle {
  opacity: 0;
}
