:root {
  --p-topping-color: #c44569;
  --p-base-color: #f7f1e3;
  --p-stick-color: #eab543;
  --p-drop-color: var(--p-topping-color);
  --p-drop-right-speed: 3.5s;
  --p-drop-left-speed: 2.5s;
}

#popsicle .topping {
  fill: var(--p-topping-color);
}

#popsicle .base {
  fill: var(--p-base-color);
}

#popsicle .stick {
  fill: var(--p-stick-color);
}

#popsicle .drop {
  transform: scale(2);
  fill: var(--p-topping-color);
}

#popsicle .drop-left {
  animation: dropLeft var(--p-drop-left-speed) ease-in-out infinite;
  opacity: 0;
}

#popsicle .drop-right {
  animation: dropRight var(--p-drop-right-speed) ease-in-out infinite;
  opacity: 0;
}

@keyframes dropLeft {
  0%,
  5% {
    transform: translate(450px, 525px) scale(2.5);
  }
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translate(450px, 900px) scale(2);
    opacity: 0;
  }
}
@keyframes dropRight {
  0%,
  5% {
    transform: translate(575px, 415px) scale(2.5);
  }
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translate(575px, 900px) scale(2);
    opacity: 0;
  }
}
