@import "https://fonts.googleapis.com/css2?family=Anton&display=swap";

:root {
  --text-body-bg-color: #1e272e;
  --text-body-color: #ffdd59;
  --text-font-family: "Anton", sans-serif;
  --text-animation-speed: 0.5s;
  --text-size: 5em;
}

body {
  background-color: var(--text-body-bg-color);
  color: var(--text-body-color);
}

.blinking-text {
  animation: blink var(--text-animation-speed) ease-in infinite alternate;
}

.blinking-text text {
  font-size: var(--text-size);
  font-family: var(--text-font-family);
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
